.presentationInfo {
    width: 100%;    
    padding: 10rem 5rem;
    margin: 0 auto;
}

.presentationInfo-title span:nth-child(2) {
    margin-left: 8rem;
}

.presentationInfo-title span:nth-child(3) {
    margin-left: 16rem;
}

.presentationInfo-title {
    line-height: 5rem;
    margin-top: 1rem;
}

.presentationInfo-title span {
    display: block;
    width: fit-content;
    font-size: 5rem;
}

.presentationInfo-group {
    display: flex;
    gap: 6rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.presentationInfo-group-text {
    width: 50%
}

.presentationInfo-group > img {
    width: 50%;
    height: 40rem;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .presentationInfo-title span {
        font-size: 3.5rem;
        line-height: 3.8rem;
    }
    .presentationInfo {
        padding: 10rem 2rem;       
    }
    .presentationInfo-group > img {
        width: 100%;
        height: 25rem;
    }
    .presentationInfo-group {
        flex-direction: column;
        gap: 3rem;
        margin: 0;
        margin-top: 2.5rem;
        width: 100%;
    }
    .presentationInfo-group-text {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .presentationInfo-title span:nth-child(2), .presentationInfo-title span:nth-child(3) {
        margin-left: 0;
    }         
    .presentationInfo-title span {
        font-size: 3rem;
        line-height: 3.3rem;
    }
    .presentationInfo-group > img {
        height: 20rem;
    }    
}

@media (max-width: 425px) {
    .presentationInfo {
        padding: 10rem 1rem;
    }
    .presentationInfo-title span {
        word-wrap: break-word;
        width: 100%;
    }
}