.home {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* HOME ABOUT */

.home-about {
    display: flex;
    gap: 1rem;
    padding: 0 1.5rem;    
}

.home-about-info {
    flex: 1;
}

.home-about-info-subtitle {
    text-transform: uppercase;    
}

.home-about-info h2 {
    font-size: var(--size-title);
    line-height: 4.8rem;
    margin: 1rem 0 2rem;
}

.home-about-info p {
    width: 75%;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;    
    font-size: 1.1rem;
    color: rgb(168, 168, 168);
}


.home-about-contImage {
    position: relative;
    flex: 1;
}

.home-about-contImage-chef {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-about-contImage-flower {
    position: absolute;
    width: 24rem;
    height: 25rem;
    object-fit: cover;
    left: 0;
    bottom: 0;
    background-color: black;
    padding: 1rem 1rem 0 0;
    transform: translate(-40%, 70%);
}


/* HOME-ANGEBOT */

.home-angebot {
    padding: 0 1.5rem;
    padding-top: 28rem;
}

.home-angebot-title {    
    margin-top: 1.2rem;
    font-size: var(--size-title);
    line-height: 5.5rem;
}

.home-angebot-title span {
    display: block;
}

.home-angebot-title span:nth-child(2) {
    margin-left: 10rem;
}

.home-angebot-description {
    margin-left: 40rem;
    margin-top: 1.3rem;
    width: 25rem;
}


/* HOME EVENTS */

.home-events {
    padding: 0 1.5rem;
    margin-top: 8rem;
}

.home-events-top {
    width: 100%;
    display: flex;
    align-items: center;
}
.home-events-top > .home-events-image-left {
    width: 33%;
}

.home-events-top > .home-events-image-left img {
    width: 80%;
    height: 16rem;
    object-fit: cover;
}

.home-events-top > .home-events-image-right {
    position: relative;
    width: 77%;
    height: 35rem;
}

.home-events-top > .home-events-image-right::after {
    content: '';
    background: linear-gradient(rgba(0,0,0,.2) 100%, transparent);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;    
}

.home-events-top > .home-events-image-right img {
    width: 55%;
    height: 100%;
    float: right;
    object-fit: cover;
    object-position: bottom center;    
} 

.home-events-middle {
    width: fit-content;
    text-align: center;    
    transform: translateY(-120%);
    margin-left: 12%;    
}

.home-events-middle h2 {
    text-align: start;
    font-size: 5.5rem;    
    line-height: 5.2rem;
    margin-top: 1.3rem;
}

.home-events-middle span {        
    display: block;
}

.home-events-bottom {
    display: flex;
    width: 100%;
    transform: translateY(-80%);
}

.home-events-bottom .home-events-image-left {
    width: 50%;
}

.home-events-bottom .home-events-image-left img {
    width: 45%;
    height: 13rem;
    float: right;
    object-fit: cover;
}

.home-events-bottom .home-events-text-right {
    width: 50%;
}

.home-events-text-right-group {    
    border-top: 2px solid var(--color-brown);
    padding-top: 2rem;
    width: 65%;
    float: right;
    transform: translateY(50%);
}


/* HOME CLIENTS */

.home-clients {
    text-align: center;
    margin-top: 3.7rem;
}

.home-clients-title {
    font-size: 5.5rem;
}

.home-clients-line {
    width: 5rem;
    border: none;
    border-top: 2px solid var(--color-brown);
    margin: 1.2rem auto 6rem auto;
}

/* HOME BANNER */

.home-banner {
    display: flex;
    width: 100%;
    margin-top: 8rem;
}

.home-banner-group {    
    flex: 1;
    height: 28rem;        
}

.home-banner-group-left, .home-banner-group-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.home-banner-group-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home-banner-group-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    justify-content: center;
}

.home-banner-group-middle-title {
    margin: 1rem 0 1.5rem;
    font-weight: bolder;
}

.home-banner-group-middle-title span {
    color: black;
    display: block;
    font-size: 2.2rem;
}

.home-banner-group-middle-line {
    border: none;
    width: 2.5rem;
    border-bottom: 1px solid var(--color-brown);
}