.description {
    text-align: center;
    background-color: black;
    padding: 8rem 0;
}

.description-subtitle {    
    text-transform: uppercase;    
    margin-bottom: 1.6rem;
}

.description-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;;
    width: 60rem;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 2rem;
}