.aboutUs-title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.aboutUs-paragraph {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-family: "Roboto", sans-serif;
    color: rgb(184, 181, 181);
    font-weight: 300;
}

.aboutUs-contentImage-middle {
    position: relative;
    display: flex;
    justify-content: end;
    background-color: white;
}

.aboutUs-image-middle {
    position: absolute;
    width: 25rem;
    height: 20rem;
    object-fit: cover;
    transform: translateY(-50%);
    margin-right: 8rem;
}

.aboutUs .presentationInfo:nth-child(2) {
    padding-bottom: 15rem;
}
.aboutUs .presentationInfo:nth-child(4) {
    margin-top: 4rem;
}

.aboutUs .presentationInfo:nth-child(4) aside {
    margin: 0;
}

.aboutUs .presentationInfo:nth-child(4) h2 {
    color: black;
}

.aboutUs-second-chef-title {
    font-size: 5.5rem;
    color: black;
    line-height: 4.8rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.aboutUs-second-chef-paragraph {
    color: black;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    line-height: 1.8rem;   
    color: rgb(110, 110, 110);
}

.aboutUs-second-chef-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}