.header-eventDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 5rem 1rem;
}

.header-eventDetails-title {
    font-size: 6.5rem;
}

.header-eventDetails-img {
    height: 80svh;
    width: 30rem;
    object-fit: cover;
}